<html>
<head> <h1 align="left"> Welcome {{uname}} </h1> <head>
	<body>
		<button align = "right" onclick="window.location.href='/endmonth'">End Month</button>
		<button align = "right" onclick="window.location.href='/report1'">View Report 1</button>
		<button align = "right" onclick="window.location.href='/report2'">View Report 2</button>
		<button align = "right" onclick="window.location.href='/report3'">View Report 3</button>
		<button align = "right" onclick="window.location.href='/Login'">Logout</button>
	</body>
</html>