<html>
<head> 
    <body> 
	<h3>Report 3: All Redemptions, by Month by User, for the Previous Two Months</h3>
	<br><br>
	<button align = "right" onclick="window.location.href='/adminhome'">Back</button>
    <table border="1" cellpadding="5" cellspacing="5">
	<tr>
	<th> UserID </th>
	<th> Total Points Redeemed </th>
	<th> Month </th>
	</tr>
    {% for row in data %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <br><br><br>
    </body>
</html>
